
body{
    background: white;
}

#logo{
    border: solid 5px red;
    margin: 20px;
    padding: 10px;
}

#h1{
    font-family: sans-serif;
    text-align: center;
    color: red;
}

.bio{
    text-align: center;
    background-color: blue;
}

.group-pic{
    height: 200px;
    margin: 10px;
    }

img.group-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
